html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: red;
    padding: 25px;
    box-sizing: border-box;
    max-width: 750px;
    margin: auto;
}

li {
    margin: 5px 0;
}

h1,
h3 {
    text-align: center;
}

a,
.links {
    color: rgb(255, 0, 0);
}

img {
    height: auto;
    display: block;
    width: 600px;
    margin: 20px auto
}


