html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: red;
}

a,
.links {
    color: red;
}

img {
    height: auto;
    width: 500px;
}